html{
    height: 100%;
}

.img-card{
    width: min(100%, 200px);
    height: 250px;
}

.property{
    /* background: #000000a2; */
    width: min(100%, 200px);
    height: 250px;
}

.img-hero {    
    height: 650px;
    object-fit: cover;
}